html {
    height: 100%;
}

body {
    background: url('https://images.pexels.com/photos/5012071/pexels-photo-5012071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    background-color: rgba(255, 245, 238, 0.2);
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* Imported from Bulma framework - helps keep the Fontawesome icons aligned and with consistent size */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Mark effect imported from https://shannonpayne.com.au/how-to-create-a-low-highlight-text-effect-using-css/ */
mark {
    background: linear-gradient(120deg, ivory 0%, #ffdada 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0 90%;
}

.logo-font {
    font-family: 'Comfortaa', cursive;
}

.logo {
    color: rgb(53, 53, 53);
}

#sub-logo {
    letter-spacing: 4.5px;
    margin-top: -12% !important;
    font-weight: 300;
}

.main-logo-link {
    width: fit-content;
}

#delivery-banner {
    font-size: x-small;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.search-group {
    background-color: white;
}

.search-btn {
    background-color: white;
    color: #535353;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #f9e7ff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 0%);
}

#query {
    font-size: xx-large;
    font-weight: 600;
    color: #535353;
    border: 0;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 20px -5px rgba(128, 128, 128, 0.178);
}

.product-image {
    max-height: 440px !important;
}


.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bag-img {
    max-height: 200px;
}

/* Allauth form formatting - From CI BoutiqueAdo project */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}


/*  Media Queries */

/* increases container size on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .bag-qty {
        max-width: 70%;
    }

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    /* pushes body down to bottom of main page */
    .header-container {
        padding-top: 164px;
    }

}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 135px;
    }

    body {
        height: calc(100vh - 135px);
    }
}