{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% endblock meta %}

    {% block extra_meta %}
    {% endblock extra_meta %}

    {% block corejs %}
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous">
    </script>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/d972b5bebb.js" crossorigin="anonymous"></script>
    {% endblock corejs %}

    {% block extrajs %}
    {% endblock extrajs %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Lato font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Project CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock corecss %}

    {% block extracss %}
    {% endblock extracss %}

    <title>
        FunFit {% block extra_title %}{% endblock extra_title %}
    </title>

</head>

<body>
    <header class="container-fluid fixed-top shadow-sm bg-white py-2">
        <div class="row">
            <!-- Logo -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-lg-start d-flex justify-content-center">
                <a href="{% url 'home' %}" class="nav-link main-logo-link ">
                    <h2 class="logo-font logo my-0 fw-bold fs-1"><strong>Funfit</strong></h2>
                </a>
            </div>
            <!-- Search field -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="">
                    <div class="input-group search-group ps-3 rounded-3 border shadow-sm">
                        <input type="text" class="form-control border-0" name="q" id="q" minlength="3"
                            placeholder="What are you looking for?" autofocus required>
                        <button class="btn search-btn pe-4"><i class="fas fa-search"></i></button>
                    </div>
                </form>

            </div>
            <!-- My account, login, register, logout, shopping cart, superuser menus -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <!-- Dropdown from bootstrap docs -->
                        <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="bi bi-person-circle fs-5"></i></div>
                                <p class="my-0">Account <i class="fas fa-sm ms-1 fa-chevron-down"></i></p>
                            </div>
                        </a>

                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            <!-- If user is logged in, shows profle, logout -->
                            {% if request.user.is_authenticated %}
                            <!-- If superuser can edit products -->
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item"><i class="bi bi-pencil-square"></i> Manage Products</a>
                            {% endif %}
                            <a href="" class="dropdown-item"><i class="bi bi-person-badge"></i> My Profile</a>
                            <!-- logout, signup and login below from allauth -->
                            <a href="{% url 'account_logout' %}" class="dropdown-item"><i class="bi bi-x-lg"></i>
                                Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Shopping bag -->
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="">
                            <div class="text-center">
                                <div><i class="bi bi-bag fs-5"></i>
                                </div>
                                <p class="my-0">
                                    <!-- Print formatted grand_total variable if true, else print zero -->
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock page_header %}

    {% block content %}
    {% endblock content %}

    {% block postloadjs %}
    {% endblock postloadjs %}
</body>

</html>